.menuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img-size {
    max-width: 100%;
    height: 45px;
}

.menuBar .backButton {
    padding: 1em 3em 1em 1em;
    margin: 0;
    text-decoration: underline;
}

.menuBar .backButton:hover {
    cursor: pointer;
}